.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.navbar.logo{
    width: 150px;
}
.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color:#49557e;
    font-size: 18px;

}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-button{
    background: transparent;
    padding: 10px 30px;
    border-radius: 50px;
    border: 1px solid tomato;
    cursor: pointer;
    font-size: 16px;
    color: #49557e;
    transition: 0.3s;
}
.nav-button:hover {
    background: tomato;
    color: white;
    border-color: tomato;
}
.active{
    padding-bottom: 2px;
    border-bottom: 2px solid tomato;
    
}
.basket-logo{
    width: 25px;
}
.search{
    width: 25px;
}

.navbar-search-icon{
    position: relative;

}

.navbar-search-icon.dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    background-color: tomato;


}

